<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/tracker"
        android:label="My Application"
        android:roundIcon="@drawable/tracker"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Navigation"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".ExpenseReport"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".Reminder"
            android:exported="false" />
        <activity
            android:name=".view2"
            android:exported="false" />
        <activity
            android:name=".Calendar"
            android:exported="false" />
        <activity
            android:name=".Delete"
            android:exported="false" />
        <activity
            android:name=".Add"
            android:exported="false" />
        <activity
            android:name=".View"
            android:exported="false" />
        <activity
            android:name=".Category"
            android:exported="false" />
        <activity
            android:name=".Addyourexpense"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>